{
  "presets": [
    "es2015",
    "react",
    "env",
    "flow",
    "stage-2",
  ],
  "plugins": [
    "inline-import-data-uri",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ],
}
